.menu {
	list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: pink;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: orange;
}

.active {
    background-color: orange;
}

body { 
	background-image: url("css_img/fond2.jpg");
	background-size: cover;
	padding:0% !important;
	margin:0% !important;
}

.home {
	margin-left: 17%;
	margin-bottom: 10%;
}

.pic {
	width: 70%;
	height: 50%;
	margin-left: 15%;
}

.home {
	margin-left: 25%;
	margin-bottom: 10%;
	font-size: 5em;
	color: green;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.liens h2 {
	color: green;
	margin-left: 29%;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	font-size: 5em;
	margin-bottom: 10%;
}

.arrondie {
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:155px;
	width: 60%;
	margin-bottom: 4%;
	margin-left: 15%;
}

.videochefotaku {
	width: 22%;
	height: 15vw;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
	margin-top: 5%;
	margin-left: 29%;
	margin-bottom: 10%;
}

.videochefotaku2 {
	width: 22%;
	height: 15vw;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
	margin-left: 7%;
	margin-bottom: 20%;
	margin-top: 7%
}

.box {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 2;
	
}

.text {
	float:left;
	background-color: purple;
	margin-top: 2%;
	border: 2px black solid;
	width: 60%;
	height: 8%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
}

.text h3 {
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	color: blue;
}

.logo {
	width: 25vw;
	height: 15vw;
}

.box2 {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 2;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	color: blue;
	font-size: 1em;
}

.text2 {
	background-color: purple;
	margin-top: 8%;
	margin-left: 3%;
	border: 2px black solid;
	width: 30%;
	height: 10%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
}

.box3 {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 2;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	color: blue;
	font-size: 20px;
}

.text3 {
	background-color: purple;
	border: 2px black solid;
	margin-left: 30%;
	margin-top: 8%;
	width: 20%;
	height: 1%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
}

.formulaire h1 {
	color: green;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	margin-left: 20%;
	margin-bottom: 8%;
	font-size: 5em;
}

.formulaire-envoie {
	margin-left: 42%;
	color: blue;
	font-size: 2em;
	text-shadow: 2px 2px 4px #000000;
	margin-bottom: 20%;
}

.présentation {
	text-align: center;
	color: blue;
	font-size: 3em;
	text-shadow: 2px 2px 4px #000000;
}

.text1 {
	vertical-align: middle;
	text-align: center;
	color: green;
	font-size: 4em;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	margin-left: 10%;
}

.opl {
	width: 20%;
	height: 3%;
	margin-left: 18%;
	margin-bottom: 10%;
}

.mha {
	width: 21%;
	height: 3%;
	margin-left: 18%;
	margin-bottom: 10%;
}

.nnt {
	width: 20%;
	height: 3%;
	margin-top: 4%;
	margin-left: 18%;
	margin-bottom: 10%;
}

.hk {
	width: 19%;
	height: 3%;
	margin-top: 5%;
	margin-left: 18%;
	margin-bottom: 10%;
}

.text5 {
	color: blue;
	font-size: 3em;
	margin-left: 18%;
}

.text6 {
	color: blue;
	font-size: 3em;
	margin-left: 60%;
}

h1 {
	margin-top: 10%;
	color: blue;
	font-size: 3em;
	margin-left: 22%;
}

h6 {
	
	color: blue;
	font-size: 3em;
	margin-left: 56%;
}

.dl {
	margin-left: 15%;
	margin-bottom: 2%;
	margin-top: 0%;
	font-size: 5em;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 100px;
  right: 100px;
}

#scroll_to_top img {
  width: 600%;
}

.flèche {
	font-size: 2em;
	margin-left: 57%;
	color: purple;
}

button {
	font-size: 1em;

}